
/* Your CSS Code here. */

  .box{
    height:40px;
    width:25vw;
    border:1px solid black;
    padding:10px;
    background-color: DodgerBlue;

  }
  .flex-container
  {
    height:50vh;
    width:100wh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;

  }